<form class="example-form">
    <h2>Login</h2>
    <mat-form-field class="example-full-width" >
      <mat-label>Email Address</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
        <mat-label>Password</mat-label>
        <input type=password matInput>
      </mat-form-field>

     
      <div>
        <button routerLink="/register" id="register" mat-stroked-button>Register</button>
        <button id="login" mat-stroked-button>Login</button>
      </div>
      
  
   
  </form>