*{
    margin: 0;
    padding: 0;
  }  
  
  form{
   display: flex;
   flex-direction: column;
   margin-left: 25%;
   margin-top: 4%;
  }
  
  
  
  div{
    padding: 5%;
    gap: 5%;
  }
  
  div #register, #login{
    margin-right: 7%;
    color: rgb(255, 85, 113);
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 100vh;
  }
  
  
  .example-full-width {
    width: 50%;
  }