<!-- Display video cards here with 
    poster-image
    length of video in hh:mm:ss format
    2-liner description
    duration since last published 
    number of views
-->

<div class="grid">

    <ng-container *ngFor="let video of content">  
    <mat-card class="example-card"matRipple>
       <img mat-card-image src="{{video.snippet.thumbnails.high.url}}"  matBadge="Hello" matBadgePosition="after" matBadgeColor="accent">
       <p>{{video.snippet.channelTitle}}</p>
        <mat-card-content>
          <h4>{{video.snippet.title.slice(0, 55)|titlecase}}... </h4>
          
          <p class="para">{{video.statistics.viewCount}} views.</p><p class=" para p">{{ video.snippet.relativeTime}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    </div>