.example-card {
    width: 250px;
    cursor: pointer;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .grid { 
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    }
    h4{
      font-size: 1rem;
      font-weight: 400;
    }
    .grid>img{
      max-width: 100%;
          }

          .para{
            display: inline-block;
          }
          .p{
            margin-left: 5px;
          }
          .item {
            position:relative;
            padding-top:20px;
            display:inline-block;
        }
        .notify-badge{
            position: absolute;
            right:-20px;
            top:10px;
            background:red;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color:white;
            padding:5px 10px;
            font-size:20px;
        }

        #timeStamp{
          height: 1.2rem;
          width: 2.0rem;
        
          text-align: center;
          align-items: center;
          background-color: black;
          font-size: 0.8rem;
          color: #fff;
          border-radius: 2px;
          margin-left: 14.2rem;
          margin-top: -60px ;
          position: absolute;
      }