<mat-toolbar color="primary" autosize>
    <mat-icon class="nav-icons" matRipple  aria-hidden="false"  matTooltip="Menu" (click)="onToggle()">menu</mat-icon>
    
  
  <span>ViewTube</span>
  <div class="spacer"></div>
  <mat-form-field class="search">
  <input type="search" matInput placeholder="Search...">
  </mat-form-field>
  
  <mat-icon class="nav-icons" aria-hidden="false" matRipple matTooltip="Search">search</mat-icon>
  <mat-icon class="nav-icons" aria-hidden="false"matRipple  matTooltip="Voice Search">mic</mat-icon>
  
  <div class="spacer"></div>
  
  <mat-icon class="nav-icons" aria-hidden="false" matRipple matTooltip="Notifications" >notifications</mat-icon>
  
  <a mat-list-item><mat-icon routerLink="/studio/upload" class="nav-icons" aria-hidden="false" matRipple matTooltip="Studio" >video_call</mat-icon></a>
  
  <a mat-list-item><mat-icon routerLink="/" class="nav-icons" aria-hidden="false" matRipple matTooltip="Back" >apps</mat-icon></a>
  
  <mat-icon class="nav-icons"  aria-hidden="false" matRipple  matTooltip="User Account" >user</mat-icon>
  
  </mat-toolbar>
  